doctype html
html(class="no-js", lang="en")
    include header
    body
        div.row
            div(class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns radius")
                h1(class="text-center") Ideabank Templates

                <hr />

                h3 Marketing &amp; Advertising:

                ul
                    li
                        a(href="slides/?template=ddb-behavior-change-brief") Behavior Change Brief Template (DDB)
                    li
                        a(href="slides/?template=cpg-bigidea") Big Idea Template (Crispin, Porter &amp; Bogusky)

                h3 Startup Pitch:

                ul
                    li
                        a(href="slides/?template=kawasaki-startup-pitch") Startup Pitch Template (Guy Kawasaki)
                    li
                        a(href="slides/?template=kpcb-startup-pitch") Startup Pitch Template (KPCB)

        include footer
