doctype html
html(class="no-js", lang="en")
    include header
    body
        div.row
            div(class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns radius")
                h1(class="text-center") Ideabank Templates

                <hr />

                h3 Marketing And Advertising:

                ul
                    li
                        a(href="slides/?template=behavior-change-brief") Behavior Change Brief
                    li
                        a(href="slides/?template=cpg-bigidea") Big Idea (Crispin, Porter &amp; Bogusky)
        include footer
